$primary: #F2EA0A;
$secondary: #007BA8;
$info:#F2F2F2;
$btn-border-radius: 0px;

@import './node_modules/bootstrap/scss/bootstrap';

html {
  display: block;
	text-align: center;
}
header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
	&nav{
	  grid-area: 2 / 1 / 3 / 2;
	  &.nav-link {
		&.active {
		  border-bottom: 2px solid $primary;
		}
	  }
	}

  .contact-bar.container-fluid{
	grid-area: 1 / 1 / 2 / 2;
	height: 48px;
  }

}
@media (min-width: 992px){
  .navbar-collapse{
	justify-content: flex-end;
  }
}


@media screen and (max-width: 992px){
  header{
	grid-template-rows: repeat(1, 1fr);
  }
  .navbar .container-fluid{
	justify-content: flex-end;
  }


}

